<mat-toolbar color = 'primary' >
  <span> <a routerLink="/">Posts</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf ="userIsAuthenticated"><span><a mat-button routerLink="/create" routerLinkActive="mat-accent">New-Post</a></span></li>
    <li *ngIf ="!userIsAuthenticated"><span><a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a></span></li>
    <li *ngIf ="!userIsAuthenticated"><span><a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">signup</a></span></li>
    <li *ngIf ="userIsAuthenticated"><button mat-button (click)="onLogout()">Logout</button></li>
  </ul>


</mat-toolbar>
